/local
/classes
/target
/project/project
/project/target
/bin/
.cache-main
.classpath
.project
/.settings/
.worksheet
*.txt
.cache-tests
.idea
.DS_Store
*.iml
*.iws
log/
target/
*.jar
.DS_Store?
.Trashes
Thumbs.db
ehthumbs.db
